body
{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 3%;
}

#Karte
{

    border: 5px solid rgb(0, 0, 0);
    width: 30%;
    margin: auto;
    background-color: rgb(147, 147, 206);
}

h1
{
    margin-bottom: 0;
}

h3
{
    margin-bottom: 0;
}

ul
{
    display: inline-block;
    text-align: left;
    margin-top: 0;
}

#AloneP
{
    margin-top: 50;
    color: yellow;
}